#include <stdlib.h>
#include <stdint.h>

#ifdef __cplusplus
extern "C" {
#endif

extern void xtc_tvm_init_runtime();
static __attribute__((constructor)) void _init() {
  xtc_tvm_init_runtime();
}


/* From tvm/ffi/c_api.h (TVM 0.26) */
#define kTVMFFINone 0
#define kTVMFFIDLTensorPtr 7

typedef struct {
  int32_t type_index;
  union {
    uint32_t zero_padding;
    uint32_t small_str_len;
  };
  union {
    int64_t v_int64;
    void* v_ptr;
  };
} TVMFFIAny;

/* Refer to dlpack.h */
#define kDLCPU 1
#define kDLFloat 2

typedef struct {
  int32_t device_type;
  int32_t device_id;
} DLDevice;

typedef struct {
  uint8_t code;
  uint8_t bits;
  uint16_t lanes;
} DLDataType;

typedef struct {
  void* data;
  DLDevice device;
  int32_t ndim;
  DLDataType dtype;
  int64_t* shape;
  int64_t* strides;
  uint64_t byte_offset;
} DLTensor;

/* Bridge bare pointers to TVM packed function with DLTensor objects */
extern int32_t {{tvm_ffi_func_name}}(void *ctx, TVMFFIAny *args, int32_t num_args, TVMFFIAny *result);

void {{func_name}}({% for idx in range(inputs|length) %}{% if idx > 0 %}, {% endif %}const float *input{{idx}}{% endfor %}{% for idx in range(outputs|length) %}, float *output{{idx}}{% endfor %}) {
    static const DLDataType dtype = { kDLFloat, 32, 1 };
    static const DLDevice dev = { kDLCPU, 0 };
{% for idx in range(inputs|length) %}
    static const int64_t DL_input{{idx}}_shape[{{inputs[idx].shape|length}}] = { {% for dim in inputs[idx].shape %}{{dim}}, {% endfor %} };
    DLTensor DL_input{{idx}} = { (void *)input{{idx}}, dev, {{inputs[idx].shape|length}}, dtype, (int64_t *)DL_input{{idx}}_shape, NULL, 0 };
{% endfor %}
{% for idx in range(outputs|length) %}
    static const int64_t DL_output{{idx}}_shape[{{outputs[idx].shape|length}}] = { {% for dim in outputs[idx].shape %}{{dim}}, {% endfor %} };
    DLTensor DL_output{{idx}} = { (void *)output{{idx}}, dev, {{outputs[idx].shape|length}}, dtype, (int64_t *)DL_output{{idx}}_shape, NULL, 0 };
{% endfor %}
    TVMFFIAny args[{{inputs|length}} + {{outputs|length}}] = {
      {%- for idx in range(inputs|length) %}
      {
        .type_index = kTVMFFIDLTensorPtr,
        .zero_padding = 0,
        .v_ptr = &DL_input{{idx}},
      },
      {%- endfor %}
      {%- for idx in range(outputs|length) %}
      {
        .type_index = kTVMFFIDLTensorPtr,
        .zero_padding = 0,
        .v_ptr = &DL_output{{idx}},
      },
      {%- endfor %}
    };
    TVMFFIAny res = {
      .type_index = kTVMFFINone,
      .zero_padding = 0,
      .v_int64 = 0,
    };
    (void){{tvm_ffi_func_name}}(NULL, args, {{inputs|length}} + {{outputs|length}}, &res);
}

#ifdef __cplusplus
}
#endif
